$text_all_color : #000000;
$text_headers_color : #F0BFA3;
$text_hint_color : #BBBBBB;
$inputs_width : 450px;
$inputs_height : 40px;
$space_between_inputs : 27px;
$space_between_inputs_labels : 7px;
$space_between_image_inputs : 213px;
$form_width : 453px;
$rigthside_width : 673px;
$form_height : 530px;
$space_from_left_of_inputs :110px;
$space_from_top_of_inputs : 10px;
$space_from_buttom_of_inputs : 127px;
$image_width : 530px;
$image_height :680px;
$input_border_color : #B3ABAB;
