@use "../variables/variables" as *;

.error_container{
    display: flex;
    justify-content: center;
    align-items: center;
    .all{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 31%;
        width: 70%;
        padding: 10px;
        border-radius: 25px;
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(7px);
        background-color: rgba(255, 255, 255, 0.3);
        .error_image{
            width: 150px;
            height: 150px;
            margin-bottom: 30px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .error_head{
            color: $text_headers_color;
            text-align: center;
        }
    }
}

@media only screen and (min-width: 480px){
    .error_container{
        .all{
            margin-top: 8%;
            width: 70%;
        }
    }
}

@media only screen and (min-width: 600px){
    .error_container{
        .all{
            margin-top: 40%;
            width: 70%;
        }
    }
}

@media only screen and (min-width: 768px){
    .error_container{
        .all{
            margin-top: 48%;
            width: 70%;
        }
    }
}

@media only screen and (min-width: 800px){
    .error_container{
        .all{
            margin-top: 23%;
            width: 70%;
        }
    }
}

@media only screen and (min-width: 1024px){
    .error_container{
        .all{
            margin-top: 25%;
            width: 60%;
        }
    }
}

@media only screen and (min-width: 1500px){
    .error_container{
        .all{
            margin-top: 15%;
            width: 45%;
        }
    }
}
